/* your styles will go here!! */
html, body {
  margin: 0;
  padding: 0;
}
#banner {
  background-color: #FFEDD8;
  height: 120px;
  width: 100%;
  padding: 40px;
}
#banner .content {
  text-align: center;
  padding-right: 50px;
}
#banner .content img {
  height: 80px;
  width: auto;
  margin: 0 auto;
}
.menu {
  position: relative;
  text-align: center;
  width: 100%;
}