/* your styles will go here!! */
html, body {
  margin: 0;
  padding: 0;
}
#banner {
  background-color: #FFEDD8;
  height: 120px;
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
}
#banner .content {
  text-align: center;
}
#banner .content img {
  height: 80px;
  width: auto;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 960px; 
  margin: 0 auto; 
}
.menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 20px;
}
.drop-down {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 75 px;
  margin-bottom: 35px;
  font-family: 'Josefin Slab', sans-serif;
}
.post {
  display: flex;
  align-items: flex-start; /* Align items flat to the top */
  padding: 20px; /* Padding inside the post */
  margin-bottom: 20px; /* Space between posts */
  font-family: 'Josefin Slab', sans-serif;
}

.profile-wrapper {
  position: relative;
}

.username {
  position: absolute;
  top: -5px; /* 5px above the profile image */
  left: 0;
  font-size: 20px;
}

.profile-image {
  height: 50px;
  width: 50px; /* Fixed width for the profile image */
  margin-top: 20px; /* Adjust as needed */
}

.profile-image img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.textpost-content {
  border: 2px solid black; /* Black border */
  flex-grow: 1; /* Allow the content to fill the remaining space */
  margin-left: 5px; /* 5px distance between profile image and text content */
  margin-top: 20px;
  padding-left: 15px;
  padding-bottom: 30px;
  padding-right: 20px;
}
.post-content img {
  border: 2px solid black; /* Black border */
  flex-grow: 1; /* Allow the content to fill the remaining space */
  margin-left: 5px; /* 5px distance between profile image and text content */
  margin-top: 20px;
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
}