/* your styles will go here!! */
.topbanner {
    background-color: #FFEDD8;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
  }

img {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}